<h1> ついて ・ About </h1>
<div class="about">
  <section>
  <h1 style="padding-left:10px">Concepts From Graph Theory</h1>
  <div class="row">
    <div class="col-md-4">
      picture of component with blank nodes
    </div>
    <div class="col-md-8">
      <br>
      <h4><b>Components</b> are groups of connected nodes in a graph. Think of them as islandsof interconnected data.</h4>
      <br>
      <h4>In our large graph, there are <b>80 characters</b> yet only <b>7 components</b>.  Most of the nodes are linked to one large central component.  This conveys that most common japanese names are related combinations of the same small set of kanji.</h4>
      <br>
      <h4>We noticed that <b>田</b> (pronounced "da", meaning "rice field") was by far the most connected datum in the large graph, occuring in 25 names -- a quarter of our sample. This perhaps speaks to Japan's heritage as an aggrarian society.</h4>   
      <br>
      <h4>In order to calculate the number of components in a given graph, we implemented <b>breadth-first search</b>.</h4>
    </div>
  </div>
</section>
<section class="gray">
  <h1 style="text-align:right;padding-right:10px">Technologies Used</h1>
  <div class="col-md-8">
    <h4>We used <b>AJAX</b> to access information from the database in our Javascript layer. <b>D3.js</b> provides a built-in .json() function, which we used to access our own json endpoints.</h4>
    <br>
    <h4>Kanji definitions were dynamically scraped and seeded using <b>Nokogiri</b> and a custom <b>rake</b> task.</h4>
    <br>
    <h4>Our <b>javascript</b> is mostly procedural.  However, in order to implement the dynamic graph, we explored <b>object-oriented javascript</b>.  Each page load instantiates a Graph object, which maintains the state of the graph as nodes are added and removed.</h4>
    </br>
    <h4>We used <b>jQuery</b> to bind highlight and tooltip effects to each node's hover event.</h4>
    <br>
    <h4>The trusty <b>Rails stack</b> holds it all together.</h4>
  </div>
  <div class="col-md-4 logos">
    <div class="center">
      <%= image_tag "/images/ruby.svg", :id => "ruby" %>
      <div id="nokogiri">鋸<p>Nokogiri</p></div>
      <%= image_tag "/images/javascript.svg", :id => "javascript" %>
      <%= image_tag "/images/jquery.svg", :id => "jquery" %>
      <%= image_tag "/images/rails.png" %>
    </div>
  </div>
</section>
<section>
  <h1 style="padding-left:10px;padding-top:10px">Creators</h1>
  <div class="col-md-6 bio">
    <%= image_tag "/images/lauraconwill.jpg", class:"biopic"%>
    <h2>Laura Conwill</h2>
    <h4>ローラ・コンウィル</h4>
    <div class="social">
      <a href="http://www.linkedin.com/pub/laura-conwill/87/286/9b"><%= fa_icon("linkedin 2x")%></a>
      <span></span>
      <a href="https://twitter.com/eleichsea"><%= fa_icon("twitter 2x")%></a>
      <span></span>
      <a href="https://github.com/lauraconwill"><%= fa_icon("github 2x")%></a>
    </div>
    <br>
    <h4>Laura learned Japanese growing up in Tokyo.  She graudated from Caltech in 2012 and attended the Flatiron School in 2014.  Her interests include photography, hacking and browsing the collection at the Met.
  </div>
  <div class="col-md-6 bio">
    <%= image_tag "/images/michaelprouty.png", class:"biopic" %>
    <h2>Michael Prouty</h2>
    <h4>マイケル・プラウティ</h4>
    <div class="social">
      <a href="https://linkedin.com/in/mprouts"><%= fa_icon("linkedin 2x")%></a>
      <span></span>
      <a href="https://twitter.com/MProuts"><%= fa_icon("twitter 2x")%></a>
      <span></span>
      <a href="https://github.com/MProuts"><%= fa_icon("github 2x")%></a>
    </div>
    <br>
    <h4>Michael is a musician, language learner, and hacker.  He graduated from Pomona College in 2011 and attended the Flatiron School in 2014.  His interests include modernist literature, Mahler, and long walks in the park.</h4>
  </div>
</section>
<%= link_to "<", directed_graph_large_path, :class => "navigation-left", :id => "about" %>
</div>
