<h1>Iteration 2</h1>
<div class="row">
  <div class="col-md-8" id="directed_graph_small">
  </div>
  <div class="col-md-4 well stats" id="statistics">
    <h2>CHARACTER CO-OCCURANCE</h2>
    <ul class="list-unstyled">
      <li><h4>10 Most Common Japanese Surnames</h4></li>
    </ul>
    </br>
    </br>
    <fieldset>
      <legend>Statistics</legend>
      <ul class="list-unstyled">
        <li><h4>Nodes: <%= @nodes %></h4></li>
        <li><h4>Edges: <%= @edges %></h4></li>
        <li><h4>Components: <%= @components %></h4></li>
      </ul>
    </fieldset>
    <br>
    <br>
    <%= link_to ">", add_and_remove_small_path, :class => "navigation-right" %>
    <%= link_to "<", histogram_path, :class => "navigation-left" %>
  </div>
</div>

