<h1>Listing surnames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surnames.each do |surname| %>
      <tr>
        <td><%= surname.name %></td>
        <td><%= link_to 'Show', surname %></td>
        <td><%= link_to 'Edit', edit_surname_path(surname) %></td>
        <td><%= link_to 'Destroy', surname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surname', new_surname_path %>
