<!DOCTYPE html>
<html>
<head>
  <title>Hakaru</title>
  <%= favicon_link_tag 'hakaru.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    "//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
  <%= javascript_include_tag "http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">図</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= nav_link "Histogram", histogram_path %></li>
        <li><%= nav_link "Small", directed_graph_small_path %></li>
        <li><%= nav_link "Large", directed_graph_large_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
